.homeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 85vh;
	background-color: beige;
	border: none;
}

.navigate {
	width: min-content;
}

.navigate > button {
	width: max-content;
	cursor: pointer;
	background-color: lavender;
	border: none;
	margin-top: 1vh;
	margin-bottom: 1vh;
}